#field {
    height:700px;
    overflow:scroll;
    width:640px;
}
#field, #debug {
    border:1px solid black;
    margin:20px;
}
#debug {
    width:600px;
    height:150px;
    padding:15px;
    font-size:0.9em;
    overflow:scroll;
}
#debug span {
    display:block;
}